<!-- Custom favicons -->
{% assign favicon_path = "/assets/img/favicons" | relative_url %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_path }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_path }}/favicon-16x16.png">
<link rel="manifest" href="{{ favicon_path }}/site.webmanifest">
<link rel="shortcut icon" href="{{ favicon_path }}/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ favicon_path }}/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
